<!-- JS Scripts-->


<!-- Bootstrap Js -->
<script src="__PUBLIC__/admin/js/bootstrap.min.js"></script>

<script src="__PUBLIC__/admin/materialize/js/materialize.min.js"></script>

<!-- Metis Menu Js -->
<script src="__PUBLIC__/admin/js/jquery.metisMenu.js"></script>
<!-- Morris Chart Js -->
<script src="__PUBLIC__/admin/js/morris/raphael-2.1.0.min.js"></script>
<script src="__PUBLIC__/admin/js/morris/morris.js"></script>


<script src="__PUBLIC__/admin/js/easypiechart.js"></script>
<script src="__PUBLIC__/admin/js/easypiechart-data.js"></script>

<script src="__PUBLIC__/admin/js/Lightweight-Chart/jquery.chart.js"></script>
<!-- Custom Js -->
<!--<script src="__PUBLIC__/admin/js/custom-scripts.js"></script>-->


</body>

</html>