{include file="Index/header" slide="4"}
        <!-- /. NAV SIDE  -->
        <div id="page-wrapper" >
		  <div class="header"> 
                <h1 class="page-header">
                   用户管理
                </h1>
									
		</div>
		
            <div id="page-inner"> 
               
            <div class="row">
                <div class="col-md-12">
                    <!-- Advanced Tables -->
                    <div class="card">
                        <div class="card-action" style="margin-bottom: 10px;height: 30px;position:relative;">
                           <div style="position: absolute;right:3%;top:20px;width:150px;display: inline-block;">
                                <form action="{:url('admin/index/form')}" method="get">
                                    <input type="submit" value="搜索" style="position:absolute;left:-40%"  class="btn"/>
                                    <input type="text" id="search" name="key" placeholder="请输入关键字" style=";border:none;border-bottom: 1px solid #666;line-height:25px;height:25px;"/>
                                </form>
                            </div>

                        </div>
                        <div class="card-content">
                            <div class="table-responsive">
                                <table class="table table-striped table-bordered table-hover" id="dataTables-example">
                                    <thead>
                                        <tr>
                                            <th>编号</th>
                                            <th>内容</th>
                                            <th>提交时间</th>
                                            <th>操作</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                    {volist name="list" id="advice"}
                                        <tr class=" gradeX">
                                            <td>{$advice.id}</td>
                                            <td>{$advice.content}</td>
                                            <td>{$advice.createtime}</td>
                                            <td><a href="javascript:void(0)" class="del" data-id="{$advice.id}">删除</a></td>

                                        </tr>
                                    {/volist}

                                    </tbody>
                                </table>
                                <div>
                                    <span>共{$all}条记录</span>
                                    <div style="float: right;">{$list->render()}</div>
                                </div>
                            </div>

                        </div>
                    </div>
                    <!--End Advanced Tables -->
                </div>
            </div>
                <!-- /. ROW  -->


    </div>
             <!-- /. PAGE INNER  -->
            </div>
         <!-- /. PAGE WRAPPER  -->
     <!-- /. WRAPPER  -->
<script>
    $(function(){
        $('.del').click(function(){
            var msg = "确定要删除吗？";
            if (confirm(msg)==true){
                $.ajax({
                    url:"{:url('admin/index/deleteAdvice')}",
                    data:{id:$(this).data('id')},
                    type:'Post',
                    dataType:'json',
                    success:function(res){
                        if(res == 'yes'){
                            alert('删除成功！');
                        }else{
                            alert('记录不存在！');
                        }
                        window.location.reload();
                    }

                });
            }

        });

    })
</script>

<!-- DATA TABLE SCRIPTS -->
<script src="__PUBLIC__/admin/js/dataTables/jquery.dataTables.js"></script>
<script src="__PUBLIC__/admin/js/dataTables/dataTables.bootstrap.js"></script>
<script>
    $(document).ready(function () {
        $('#dataTables-example').dataTable();
    });
</script>
        {include file="Index/footer"}
