{include file="Test/header" title="contact" slide="1"}

    </div>
 <div class="main">
    <div class="content">
    	<div class="section group">
				<div class="col span_2_of_3" style="width:100%">
				  <div class="contact-form">
				  	<h2>建议反馈</h2>
					    <form method="post" action="">

						    <div>
						    	<span><label>您的建议：</label></span>
						    	<span><textarea name="userMsg"> </textarea></span>
						    </div>
						   <div>
						   		<span><input name="submit" type="submit" value="提交"  class="myButton"></span>
						  </div>
					    </form>
				  </div>
  				</div>
			  </div>		
         </div> 
    </div>
 </div>
  {include file="Test/footer"}
