<div class="footer">
    <div class="wrap">

    </div>
    <div class="copy_right">
        <p>Copyright &copy; 2018.Web name All rights reserved.<a target="_blank" href="http://www.tp5.com/index/test">www.tp5.com/index/test</a></p>
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function() {
        $().UItoTop({ easingType: 'easeOutQuart' });

    });
</script>
<a href="#" id="toTop"><span id="toTopHover"> </span></a>
<div style="display:none"><script type="text/javascript">var cnzz_protocol = (("https:" ==
document.location.protocol) ? " https://" : " http://");document.write(unescape
("%3Cspan id='cnzz_stat_icon_1253604486'%3E%3C/span%3E%3Cscript src='" +
cnzz_protocol + "s4.cnzz.com/z_stat.php%3Fid%3D1253604486' 
type='text/javascript'%3E%3C/script%3E"));</script></div>
</body>
</html>